.dan-img {
    float: left;
    height: 300px;
    padding: 50px;
}


.left-div{
}
.right-div {
}

body{
    background-color: black;
}

h1, h2, h3 {
    color: white;
}

p {
    color: white;
}

a{
    color: lightskyblue;
}